[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
google-api-python-client = "*"
pytube = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
